<!doctype html>
{% load static %}
<html>
<head>
<title>Smart System</title>
<meta charset="utf-8" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />
<!-- For ease i'm just using a JQuery version hosted by JQuery- you can download any version and link to it locally -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand iotintercon" href="{% url 'home' %}">IOT INTERCON SMART OFFICE SYSTEM</a>
		<div class="collapse navbar-collapse" id="mainMenu">
			{% if user.is_authenticated %}
				<ul class="navbar-nav ml-auto">
            		<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="userMenu" href="#"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span style="color:white;">Welcome - {{user.first_name}} {{user.last_name}}</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
							<a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
						</div>
					</li>
				</ul>
			{% else %}
				<form class="form-inline ml-auto">
				  <a href="{% url 'login' %}" class="btn btn-primary ml-2">Log in</a>
			  	</form>
			{% endif %}
        </div>
	</div>
</nav>
<div class="section">
	<div class="row">
	    <div class="col-7">
	      <nav class="navbar navbar-light bg-light">
		  <span class="navbar-brand">Current Reading</span>
	      </nav>
	    </div>
	    <div class="col control">
	      <nav class="navbar navbar-light bg-light">
		  <span class="navbar-brand">Controls</span>
	      </nav>
	    </div>
	</div>
	<div class="row">
	    <div id="readings" class="col-7">
	      <div class="container">
		    <div class="row">
                <div class="col-md-4 block">
                    <br><p class="text-monospace">Sensor 1</p>
                    <div id="sensor1">
                    {% if sensor1.value < 25  %}
						<div style="background:green;" class="circle"><p>{{sensor1.value}} - {{sensor1.name}}</p></div>
					{% elif sensor1.value > 25 and sensor1.value < 35 %}
						<div style="background:yellow;" class="circle"><p>{{sensor1.value}} - {{sensor1.name}}</p></div>
					{% elif sensor1.value >= 35 %}
						<div style="background:red;" class="circle"><p>{{sensor1.value}} - {{sensor1.name}}</p></div>
					{% else %}
						<div style="background:white;" class="circle"><p><small class="text-muted"><em>No Sensor Data</em></small></p></div>
					{% endif %}
                    </div>
                </div>
                <div class="col-md-4 block">
                    <br><p class="text-monospace">Sensor 2</p>
                    <div id="sensor2">
                    {% if sensor2.value < 25  %}
						<div style="background:green;" class="circle"><p>{{sensor2.value}} - {{sensor2.name}}</p></div>
					{% elif sensor2.value > 25 and sensor2.value < 35 %}
						<div style="background:yellow;" class="circle"><p>{{sensor2.value}} - {{sensor2.name}}</p></div>
					{% elif sensor1.value >= 35 %}
						<div style="background:red;" class="circle"><p>{{sensor2.value}} - {{sensor2.name}}</p></div>
					{% else %}
						<div style="background:white;" class="circle"><p><small class="text-muted"><em>No Sensor Data</em></small></p></div>
					{% endif %}
                    </div>
                </div>
                <div class="col-md-4 block">
                    <br><p class="text-monospace">Sensor 3</p>
                    <div id="sensor3">
                    {% if sensor3.value < 25  %}
						<div style="background:green;" class="circle"><p>{{sensor3.value}} - {{sensor3.name}}</p></div>
					{% elif sensor3.value > 25 and sensor3.value < 35 %}
						<div style="background:yellow;" class="circle"><p>{{sensor3.value}} - {{sensor3.name}}</p></div>
					{% elif sensor1.value >= 35 %}
						<div style="background:red;" class="circle"><p>{{sensor3.value}} - {{sensor3.name}}</p></div>
					{% else %}
						<div style="background:white;" class="circle"><p><small class="text-muted"><em>No Sensor Data</em></small></p></div>
					{% endif %}
                    </div>
                </div>
		    </div>
		    <div class="row">
                <div class="col-md-4 block">
                    <br><p class="text-monospace">Sensor 4</p>
                    <div style="background: red;" class="circle">
                    <p>Some Text here Some text here</p>
                    </div>
                </div>
                <div class="col-md-4 block">
                    <br><p class="text-monospace">Sensor 5</p>
                    <div style="background: yellow;" class="circle">
                    <p>Some Text here</p>
                    </div>
                </div>
                <div class="col-md-4 block">
                    <br><p class="text-monospace">Sensor 6</p>
                    <div style="background: green;" class="circle">
                    <p>Some More Text here</p>
                    </div>
                </div>
		    </div>
		</div>
	    </div>
	    <div id="controls" class="col">
		  <div class="warningMessage"></div>
	      <table class="table table-borderless">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Name</th>
		      <th scope="col">State</th>
		      <th scope="col">Action</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>Blr-Fan</td>
			  <td id="blrfanstatus">
					{% if blrfanstatus == 'ON' %}
						<p style="color:green;font-weight: bold;">
							ON
						</p>
					{% elif blrfanstatus == 'OFF' %}
						<p style="color:red;font-weight: bold;">
							OFF
						</p>
					{% else %}
						<p>
							<small class="text-muted">
							  <em>No yet started.</em>
							</small>
						</p>
					{% endif %}
				</td>
		      <td>
				  <button data-url="{% url 'my_app:BlrFan' 1 %}" type="submit" class="btn btn-dark button-status">ON</button>
				  <button data-url="{% url 'my_app:BlrFan' 0 %}" type="submit" class="btn btn-light button-status">OFF</button>
		      </td>
		    </tr>
		  	<tr>
		      <th scope="row">2</th>
		      <td>Blr-Light</td>
			  <td id="blrlightstatus">
					{% if blrlightstatus == 'ON' %}
						<p style="color:green;font-weight: bold;">
							ON
						</p>
					{% elif blrlightstatus == 'OFF' %}
						<p style="color:red;font-weight: bold;">
							OFF
						</p>
					{% else %}
						<p>
							<small class="text-muted">
							  <em>No yet started.</em>
							</small>
						</p>
					{% endif %}
				</td>
		      <td>
				  <button data-url="{% url 'my_app:BlrLight' 1 %}" type="submit" class="btn btn-dark button-status">ON</button>
				  <button data-url="{% url 'my_app:BlrLight' 0 %}" type="submit" class="btn btn-light button-status">OFF</button>
		      </td>
		    </tr>
			<tr>
		      <th scope="row">3</th>
		      <td>Vanc-Fan</td>
			  <td id="vancfanstatus">
					{% if vancfanstatus == 'ON' %}
						<p style="color:green;font-weight: bold;">
							ON
						</p>
					{% elif vancfanstatus == 'OFF' %}
						<p style="color:red;font-weight: bold;">
							OFF
						</p>
					{% else %}
						<p>
							<small class="text-muted">
							  <em>No yet started.</em>
							</small>
						</p>
					{% endif %}
				</td>
		      <td>
				  <button data-url="{% url 'my_app:VancFan' 1 %}" type="submit" class="btn btn-dark button-status">ON</button>
				  <button data-url="{% url 'my_app:VancFan' 0 %}" type="submit" class="btn btn-light button-status">OFF</button>
		      </td>
		    </tr>
		    <tr>
		      <th scope="row">4</th>
		      <td>Vanc-Light</td>
			  <td id="vanclightstatus">
					{% if vanclightstatus == 'ON' %}
						<p style="color:green;font-weight: bold;">
							ON
						</p>
					{% elif vanclightstatus == 'OFF' %}
						<p style="color:red;font-weight: bold;">
							OFF
						</p>
					{% else %}
						<p>
							<small class="text-muted">
							  <em>No yet started.</em>
							</small>
						</p>
					{% endif %}
				</td>
		      <td>
				  <button data-url="{% url 'my_app:VancLight' 1 %}" type="submit" class="btn btn-dark button-status">ON</button>
				  <button data-url="{% url 'my_app:VancLight' 0 %}" type="submit" class="btn btn-light button-status">OFF</button>
		      </td>
		    </tr>
		  </tbody>
		</table>
	    </div>
	</div>
</div>
</body>
</html>
