<!doctype html>
{% load static %}
<html>
<head>
<title>Smart System</title>
<meta charset="utf-8" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />
<!-- For ease i'm just using a JQuery version hosted by JQuery- you can download any version and link to it locally -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">IOT INTERCON SMART OFFICE SYSTEM</a>
        </div>
</nav>
<div class="section">
	<div class="row">
	    <div class="col-7">
	      <nav class="navbar navbar-light bg-light">
		  <span class="navbar-brand">Current Reading</span>
	      </nav>
	    </div>
	    <div class="col">
	      <nav class="navbar navbar-light bg-light">
		  <span class="navbar-brand">Controls</span>
	      </nav>
	    </div>
	</div>
	<div class="row">
	    <div id="readings" class="col-7">
	      <div class="container">
		    <div class="row">
                <div class="col-md-4 block">
                    <br><p class="text-monospace">Sensor 1</p>
                    <div id="sensor1">
                    {% if sensor1.value < 25  %}
						<div style="background:green;" class="circle"><p>{{sensor1.value}} - {{sensor1.name}}</p></div>
					{% elif sensor1.value > 25 and sensor1.value < 35 %}
						<div style="background:yellow;" class="circle"><p>{{sensor1.value}} - {{sensor1.name}}</p></div>
					{% elif sensor1.value >= 35 %}
						<div style="background:red;" class="circle"><p>{{sensor1.value}} - {{sensor1.name}}</p></div>
					{% else %}
						<div style="background:white;" class="circle"><p><small class="text-muted"><em>No Sensor Data</em></small></p></div>
					{% endif %}
                    </div>
                </div>
                <div class="col-md-4 block">
                    <br><p class="text-monospace">Sensor 2</p>
                    <div id="sensor2">
                    {% if sensor2.value < 25  %}
						<div style="background:green;" class="circle"><p>{{sensor2.value}} - {{sensor2.name}}</p></div>
					{% elif sensor2.value > 25 and sensor2.value < 35 %}
						<div style="background:yellow;" class="circle"><p>{{sensor2.value}} - {{sensor2.name}}</p></div>
					{% elif sensor1.value >= 35 %}
						<div style="background:red;" class="circle"><p>{{sensor2.value}} - {{sensor2.name}}</p></div>
					{% else %}
						<div style="background:white;" class="circle"><p><small class="text-muted"><em>No Sensor Data</em></small></p></div>
					{% endif %}
                    </div>
                </div>
                <div class="col-md-4 block">
                    <br><p class="text-monospace">Sensor 3</p>
                    <div id="sensor3">
                    {% if sensor3.value < 25  %}
						<div style="background:green;" class="circle"><p>{{sensor3.value}} - {{sensor3.name}}</p></div>
					{% elif sensor3.value > 25 and sensor3.value < 35 %}
						<div style="background:yellow;" class="circle"><p>{{sensor3.value}} - {{sensor3.name}}</p></div>
					{% elif sensor1.value >= 35 %}
						<div style="background:red;" class="circle"><p>{{sensor3.value}} - {{sensor3.name}}</p></div>
					{% else %}
						<div style="background:white;" class="circle"><p><small class="text-muted"><em>No Sensor Data</em></small></p></div>
					{% endif %}
                    </div>
                </div>
		    </div>
		    <div class="row">
                <div class="col-md-4 block">
                    <br><p class="text-monospace">Sensor 4</p>
                    <div style="background: red;" class="circle">
                    <p>Some Text here Some text here</p>
                    </div>
                </div>
                <div class="col-md-4 block">
                    <br><p class="text-monospace">Sensor 5</p>
                    <div style="background: yellow;" class="circle">
                    <p>Some Text here</p>
                    </div>
                </div>
                <div class="col-md-4 block">
                    <br><p class="text-monospace">Sensor 6</p>
                    <div style="background: green;" class="circle">
                    <p>Some More Text here</p>
                    </div>
                </div>
		    </div>
		</div>
	    </div>
	    <div id="controls" class="col">
	      <table class="table table-borderless">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Name</th>
		      <th scope="col">State</th>
		      <th scope="col">Action</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>Blr-Fan</td>
			  <td id="blrfanstatus">
					{% if blrfanstatus == 'ON' %}
						<p style="color:green;font-weight: bold;">
							ON
						</p>
					{% elif blrfanstatus == 'OFF' %}
						<p style="color:red;font-weight: bold;">
							OFF
						</p>
					{% else %}
						<p>
							<small class="text-muted">
							  <em>No yet started.</em>
							</small>
						</p>
					{% endif %}
				</td>
		      <td>
				  <button data-url="{% url 'my_app:BlrFan' 1 %}" type="submit" class="btn btn-dark button-status">ON</button>
				  <button data-url="{% url 'my_app:BlrFan' 0 %}" type="submit" class="btn btn-light button-status">OFF</button>
		      </td>
		    </tr>

		  </tbody>
		</table>
	    </div>
	</div>
</div>
</body>
</html>
