<tr>
		      <th scope="row">2</th>
		      <td>Blr-Light</td>
				{% if blrlightstatus == 'ON' %}
		      		<td style="color:green;font-weight: bold;">
				  		{{blrlightstatus}}
			  		</td>
				{% elif blrlightstatus == 'OFF' %}
					<td style="color:red;font-weight: bold;">
				  		{{blrlightstatus}}
			  		</td>
				{% else %}
			  		<td>
						<small class="text-muted">
						  <em>No yet started.</em>
						</small>
					</td>
				{% endif %}
		      <td>
		        <a href="#" type="button" class="btn btn-dark">On</a>
		        <a href="#"  type="button" class="btn btn-light">Off</a>
		      </td>
		    </tr>
		  <tr>
		      <th scope="row">3</th>
		      <td>Vanc-Fan</td>
				{% if vancfanstatus == 1 %}
		      		<td style="color:green;font-weight: bold;">
				  		ON
			  		</td>
				{% elif vancfanstatus == 0 %}
					<td style="color:red;font-weight: bold;">
				  		OFF
			  		</td>
			    {% else %}
			  		<td>
						<small class="text-muted">
						  <em>No yet started.</em>
						</small>
					</td>
				{% endif %}
		      <td>
		        <a href="#" type="button" class="btn btn-dark">On</a>
		        <a href="#"  type="button" class="btn btn-light">Off</a>
		      </td>
		    </tr>
		  <tr>
		      <th scope="row">4</th>
		      <td>Vanc-Light</td>
				{% if vanclightstatus == 1 %}
		      		<td style="color:green;font-weight: bold;">
				  		ON
			  		</td>
				{% elif vanclightstatus == 0 %}
					<td style="color:red;font-weight: bold;">
				  		OFF
			  		</td>
			  	{% else %}
			  		<td>
						<small class="text-muted">
						  <em>No yet started.</em>
						</small>
					</td>
				{% endif %}
		      <td>
		        <a href="#" type="button" class="btn btn-dark">On</a>
		        <a href="#"  type="button" class="btn btn-light">Off</a>
		      </td>
		    </tr>