<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center logo my-4">
             <a href="{% url 'home' %}">IOT INTERCON SMART SYSTEM</a>
        </h1>
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Log in</h3>
                <form method="post" novalidate>
                    {%csrf_token %}
                    <input type="hidden" value="{{next}}">
                    {% include 'account/includes/form.html' %}
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>